/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
main {
  height: 100vh;
  font-family: "Press Start 2P", cursive;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  overflow-wrap: break-word;
  color: #65f7ff;
  text-shadow: 0px 0px 8px #7faefa, 0px 0px 18px #6ad0f8;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  display: none !important;
}
/* ~~~~~~~~~~~~~~~END RESET~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~LAYOUT~~~~~~~~~~~~~~~~~ */
main {
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url(assets/images/4910984.gif);
  background-size: auto 100%;
  background-position: center center;
  opacity: 1;
}

/* ~~~~~~~~~LAYOUT: PLAYER SECTIONS~~~~~~~~ */
.player-box {
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59 13 110 / 40%);
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  margin-top: 4%;
}

.active {
  background-color: rgb(81 34 133 / 62%);
}

.token {
  font-size: 7vh;
}

/* ~~~~~~~~~~~~~CENTER SECTIONS~~~~~~~~~~~~~~~~~ */
.center-box {
  width: 60em;
  height: 100%;
  display: flex;
  box-shadow: 0 0 5px 5px #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title-turn {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.start-box {
  width: 100vw;
  height: 100vh;
  background-color: #002638e0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  margin-top: 2vh;
  width: 15em;
  font-size: larger;
}

.game-title {
  display: flex;
  justify-content: center;
  height: 16%;
  align-items: center;
  font-size: 160%;
}

.game-and-music-btn {
  display: flex;
  flex-direction: column;
  height: 39em;
  justify-content: space-evenly;
}

.tic-tac-box {
  display: grid;
  grid-template-columns: repeat(3, 11em [col-start]);
  grid-template-rows: repeat(3, 11em [row-start]);
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 4px 2px #fff;
}

.grid {
  display: flex;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(0 249 255 / 72%);
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  color: #b2f4ff;
  background-color: rgb(50 111 238 / 43%);
}

.grid:hover {
  background-color: rgba(50, 111, 238, 70%);
  box-shadow: 0 0 5px 5px #fff;
  cursor: pointer;
}

.grid-token {
  mask-size: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 8px #7faefa);
  filter: drop-shadow(0px 0px 18px #6ad0f8);
  padding: 1rem;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 3em;
  width: 15em;
  border-color: rgb(0 249 255 / 72%);
  background-color: rgb(68 126 247 / 70%);
  border-style: solid;
  color: #32f4ff;
  text-shadow: 0px 0px 8px #7faefa, 0px 0px 18px #6ad0f8;
  cursor: pointer;
}

.button-off {
  background-color: rgb(39 79 161 / 70%);
  color: #3ca2a7;
}

button:hover {
  background-color: rgb(123 166 255 / 73%);
  box-shadow: 0 0 5px 5px #fff;
  color: white;
}

.turn {
  height: 9%;
}

.block-clicks {
  pointer-events: none;
}

/* ~~~~~~~~~~~~~GLITCH EFFECT~~~~~~~~~~~~~~~~~ */
.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(1px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-1px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  1%,
  20% {
    transform: translate(1px, -1px);
  }
  2%,
  20% {
    transform: translate(-1px, 1px);
  }
  20% {
    transform: translate(5px, -1px) skew(-10deg);
  }
}

@keyframes glitchBotom {
  1%,
  20% {
    transform: translate(-1px, 0);
  }
  1%,
  20% {
    transform: translate(-1px, 0);
  }
  62% {
    transform: translate(-10px, 2px) skew(15deg);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

/* ANIMATIONS */
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:14:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:18:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:14:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:26:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ~~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 85em) {
  .player-box {
    width: 19em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59 13 110 / 40%);
  }

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 43%;
    margin-top: 4%;
  }

  .active {
    background-color: rgb(81 34 133 / 62%);
  }

  .token {
    font-size: 7vh;
  }
  .center-box {
    width: 60%;
    height: 100vh;
    display: flex;
    box-shadow: 0 0 5px 5px #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* @70em */
@media screen and (max-width: 70em) {
  main {
    flex-direction: column;
  }

  .player-box {
    font-size: smaller;
    width: 100vw;
    justify-content: center;
  }

  .player {
    margin: 0;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }

  .margin-sides {
    margin: 0vw 3vw 0vw 3vw;
  }

  .center-box {
    width: 100vw;
    height: 79vh;
    display: flex;
    box-shadow: 0 0 5px 5px #fff;
    flex-direction: column;
    justify-content: space-around;
  }

  .title-turn {
    display: flex;
    margin-top: 11%;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .game-title {
    display: flex;
    justify-content: center;
    height: 16%;
    align-items: center;
    font-size: 160%;
  }

  .game-and-music-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 70em) {
  .title-turn {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 7em;
    justify-content: space-evenly;
    font-size: smaller;
  }

  .game-title {
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160%;
  }

  .tic-tac-box {
    display: grid;
    grid-template-columns: repeat(3, 9em [col-start]);
    grid-template-rows: repeat(3, 9em [row-start]);
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 4px 2px #fff;
  }
}

/* @38EM */
@media screen and (max-width: 38em) {
  .title-turn {
    font-size: smaller;
  }

  .game-title {
    font-size: smaller;
    display: flex;
    justify-content: center;
    height: 16%;
    align-items: center;
    font-size: 160%;
  }

  .turn {
    height: 9%;
  }

  .game-and-music-btn {
    height: 30em;
  }
  .tic-tac-box {
    grid-template-columns: repeat(3, 8em [col-start]);
    grid-template-rows: repeat(3, 8em [row-start]);
  }
}

/* @25EM */
@media screen and (max-width: 25em) {
  .title-turn {
    font-size: smaller;
    height: 11em;
  }

  .game-title {
    font-size: smaller;
    display: flex;
    justify-content: center;
    height: 16%;
    align-items: center;
    font-size: 160%;
  }

  .turn {
    height: 9%;
  }

  .game-and-music-btn {
    height: 32em;
  }

  .tic-tac-box {
    grid-template-columns: repeat(3, 7em [col-start]);
    grid-template-rows: repeat(3, 7em [row-start]);
  }
  .grid-token {
    font-size: 98%;
  }
}
